<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://funcaoaprovarpedidonova3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f316f1f8-9259-44dc-bb15-895d4b423b8e/resourceGroups/funcaoaprovarpedidonova3/providers/Microsoft.Web/sites/FuncaoAprovarPedidoNova3</ResourceId>
    <UserName>$FuncaoAprovarPedidoNova3</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://funcaoaprovarpedidonova3.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>